:root {
  --background: #dbe0e5;
  --powder-blue: #84a4c5;
  --sage-green: #749a83;
  --dark-blue: #2b608e;
  --font: #2b608e;
  --link: #749a83;
  --visited: #749a83;
  --button: #749a83;
}

#kirsten-and-nicky {
  max-height: 4em;
  max-width: 80vw;
}

.divider {
  max-height: 0.8em;
  max-width: 80vw;
  margin: 0.5em auto;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  opacity: 1;
  background-color: var(--background);
}

body {
  color: var(--font);
  text-align: center;
  font-family: bryant;
  background-color: var(--background);
  font-size: 28px;
  /* background: url("https://t4.ftcdn.net/jpg/00/70/36/51/360_F_70365188_TnkU0lsl9BXgC5GBv4ALpXyKo9mVgJJ0.jpg"); */
  box-sizing: border-box;
  overflow-y: none;
}

p {
  /* font-size: 2em; */
  /* font-family: ombres; */
  /* color: hotpink; */
  max-width: 600px;
  margin: 0 auto;
}

.text p {
  padding-bottom: 0.5em;
}

p#date {
  font-family: buckwheat;
  font-size: 2em;
}

.radios {
  display: flex;
  justify-content: space-around;
}

.radios > * {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0.5em auto;
}

.radios > label > input {
  display: none;
}

.radios > label > img {
  display: inline-block;
  margin: 0px 1em;
  height: 50px;
  width: 50px;
  border: solid 2px black;
}
.radios > label > input:checked + img {
  background: url("./assets/images/check-mark.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 30px;
}

input[type="radio"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox; /* Firefox */
  -ms-appearance: checkbox; /* not currently supported */
}

.main {
  margin: 0 auto;
  /* max-width: 768px; */
  height: 100%;
  width: 100%;
  min-height: 70vh;
  /* max-height: 200vh; */
  text-align: center;
  padding-bottom: 3em;
}

a {
  color: var(--link);
}
a:visited {
  color: var(--visited);
}

.peace-background {
  background: url("./assets/images/waterfall-peace.jpg") no-repeat fixed;
  /* height: 100%; */
  overflow: hidden;
  color: #ffffff;
  position: absolute;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100%; */
}

/* .home {
  background-color: black;
} */

.home > img {
  width: 100%;
}
.name {
  color: var(--font);
  font-family: buckwheat-rough;
  font-size: 5em;
  /* border-bottom: 2px dotted var(--font); */
}

.kirsten-and-nicky-header {
  padding-top: 1em;
  text-align: center;
}

.fa-bars {
  display: none;
}

.rsvp .thanks-but-no-thanks {
  margin: 0 auto;
}

#rsvpForm label {
  font-size: 0.8em;
  font-family: gotham;
}

#rsvpForm label.big {
  font-size: 1em;
}

#rsvpForm input {
  margin-top: 0.5em;
}

.event-landing {
  /* display: grid; */
  /* font-family: gotham; */
  /* grid-template-columns: 2fr 2fr; */
  /* margin: 1em; */
}

.event {
  margin-top: 0.5em;
  font-size: 0.7em;
  font-family: poppins;
  padding: 0 2em;
}

.event-landing * {
  margin-bottom: 0.25em;
}

.event > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.event-line {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: buckwheat;
}

.event p {
  font-size: 0.8em;
}

.event-date {
  font-family: buckwheat;
  font-size: 1.25em;
  margin-bottom: 0em;
}

@media only screen and (max-width: 600px) {
  p#date,
  p#address {
    font-family: buckwheat;
    font-size: 1.5em;
  }

  .rsvp {
    padding: 0 1em;
    font-size: 0.8em;
  }

  .navbar-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    max-width: 100vw;
    align-items: center;
    padding-bottom: 0.25em;
  }

  .navbar-container * {
    font-size: 0.8em;
  }

  .kirsten-and-nicky-header {
    /* padding-top: 0em; */
  }
  .name {
    font-size: 3em;
  }

  .fa-bars {
    display: block;
    align-self: flex-start;
    padding: 0 0.5em;
  }

  .radios {
    display: block;
    text-align: left;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: auto 0;
  }

  .radios > * {
    justify-content: left;
  }

  .navbar {
    position: relative;
    overflow: hidden;
    align-items: flex-end;
    /* justify-content: left; */
    flex-direction: column;
    padding-left: 5vw;
  }

  .navbar > * {
    padding: 0.25em 0.5em;
  }

  .navbar:not(.show) a:not(.active) {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .navbar {
    justify-content: center;
    align-items: center;
  }
  .navbar a {
    padding: 0 0.5em;
  }
}
.navbar-container {
  margin: 0.5em auto 0.25em auto;
}

.navbar {
  display: flex;
}
.navbar a {
  font-family: buckwheat;
  text-decoration: none;
}

#password {
  padding-top: 0.25em;
}

.navbar .active {
  color: var(--dark-blue);
}

img.save-the-date {
  width: 100%;
  object-fit: contain;
}

label {
  display: block;
  margin-top: 1em;
  font-size: 1.3em;
  text-align: left;
}

form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

label,
input,
textarea,
select {
  font-family: bryant;
  font-size: 1em;
  line-height: 1em;
}

.thanks-but-no-thanks {
  max-width: 400px;
  margin: 2em auto;
  background: var(--font);
  color: var(--background);
  padding: 0.5em 2em;
  border-radius: 1em;
}

.thanks-but-no-thanks h2 {
  font-size: 0.9em;
}

.thanks-but-no-thanks h3 {
  font-size: 0.7em;
}

button,
.button,
input[type="submit"] {
  background-color: var(--font);
  color: var(--background);
  border: solid var(--font) 2px;
  /* color: white; */
  /* background-color:  */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-radius: 12px;
  font-family: bryant;
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.button.small {
  font-size: 1em;
  background-color: var(--font);
  color: white;
  max-width: 200px;
}

input,
textarea {
  padding: 0.4rem;
  width: 100%;
  border: 1px solid;
}

input::placeholder {
  font-size: 0.8em;
}

.form-user h1 {
  font-size: 1.5em;
  color: var(--font);
}

.explainer {
  padding-top: 1em;
  margin: 0 auto;
  max-width: 400px;
}

.work-in-progress h1 {
  font-family: buckwheat;
  font-size: 1.5em;
}

.work-in-progress img {
  max-height: 600px;
  max-width: 100vw;
}

footer {
  padding-top: 4em;
  max-height: 400px;
  position: relative;
}

.footer-image {
  position: absolute;
  max-height: 200px;
  bottom: 0;
}

.footer-image.left {
  left: 0;
}

.footer-image.right {
  right: 0;
}

.footer-image.center {
  height: 120px;
}

.footer-image.left.center {
  left: 40px;
}

.footer-image.right.center {
  right: 40px;
}

.footer-image.ufo {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 100px;
}

.questionContainer,
.registry {
  padding: 0 1em;
  max-width: 500px;
  margin: 0 auto;
}

.question {
  font-family: gotham;
  line-height: 1.3em;
  margin-bottom: 0.8em;
  font-size: 0.7em;
}

.answers {
  font-family: gotham;
  font-size: 0.5em;
  line-height: 1.3em;
  /* text-align: left; */
}

.answers p {
  margin-bottom: 1em;
}

.center-text {
  text-align: center;
}

@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

/* @font-face {
  font-family: grenadierNF;
  src: url("./assets/fonts/GrenadierNF.ttf");
}

@font-face {
  font-family: if;
  src: url("./assets/fonts/If.ttf");
}

@font-face {
  font-family: ombres;
  src: url("./assets/fonts/Ombres.ttf");
}

@font-face {
  font-family: punk;
  src: url("./assets/fonts/punk.ttf");
}

@font-face {
  font-family: shockwave;
  src: url("./assets/fonts/Shockwave.ttf");
} */

@font-face {
  font-family: buckwheat-rough;
  src: url("./assets/fonts/Buckwheat\ TC\ Rough.otf");
}

@font-face {
  font-family: buckwheat;
  src: url("./assets/fonts/Buckwheat\ TC\ Rg.otf");
}

@font-face {
  font-family: bryant;
  src: url("./assets/fonts/Bryant-Medium.otf");
}

@font-face {
  font-family: gotham;
  src: url("./assets/fonts/Gotham-Medium.otf");
}
