body {
  color: #143642;
  text-align: center;
  background: url("./assets/images/waterfall-peace.jpg") no-repeat fixed;
  box-sizing: border-box;
}

.main {
  margin: 0 auto;
  max-width: 768px;
  height: 100%;
  min-height: 100vh;
  background-color: #c8d8eb;
}

a {
  color: #824670;
}
a:visited {
  color: #a2708a;
}

.peace-background {
  background: url("./assets/images/waterfall-peace.jpg") no-repeat fixed;
  /* height: 100%; */
  overflow: hidden;
  color: #ffffff;
  position: absolute;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100%; */
}

/* .home {
  background-color: black;
} */

.home > img {
  width: 100%;
}

main {
  text-align: center;
  padding-bottom: 6em;
  /* padding: 3em; */
  /* border: solid white 1px; */
  /* width: 1000px; */
}
.name {
  color: #143642;
  font-family: shockwave;
  font-size: 5em;
  border-bottom: 2px dotted #143642;
}

.kirsten-and-nicky-header {
  padding-top: 1em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .kirsten-and-nicky-header {
    /* padding-top: 0em; */
  }
  .name {
    font-size: 3em;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4em;
  border-bottom: 2px dotted #143642;
}

#password {
  padding-top: 0.25em;
}
.navbar a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar a:not(:first-child) {
  border-left: 2px dotted #143642;
}

img.save-the-date {
  width: 100%;
  object-fit: contain;
}

label {
  display: block;
  margin-top: 1em;
  font-size: 1.3em;
  text-align: left;
}

form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

label,
input,
textarea,
select,
button {
  font-size: 1.2em;
  line-height: 1.2em;
}

.thanks-but-no-thanks {
  max-width: 400px;
  margin: 2em auto;
  background: #143642;
  color: #c8d8eb;
  padding: 0.5em 2em;
  border-radius: 1em;
}
/* 

.name > * {
  margin: 0em;
}

.name > :first-child {
  text-align: left;
}

.name > :nth-child(2) {
  text-align: center;
  font-size: 0.5em;
}

.name > :nth-child(3) {
  text-align: right;
}

.overlay {
  background: rgba(50, 70, 80, 0.7);
  overflow: hidden;
  height: 100%;
}

#date {
  font-family: grenadierNF;
  font-size: 4em;
  color: white;
} */

button,
.button,
input[type="submit"] {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button.small {
  font-size: 1em;
  background-color: #143642;
  color: white;
  max-width: 200px;
}

input,
textarea {
  padding: 0.4rem;
  width: 100%;
  border: 1px solid;
}

input::placeholder {
  font-size: 0.8em;
}

.form-user h1 {
  font-size: 1.5em;
  color: #143642;
}

.explainer {
  padding-top: 1em;
  margin: 0 auto;
  max-width: 400px;
}

@font-face {
  font-family: grenadierNF;
  src: url("./assets/fonts/GrenadierNF.ttf");
}

@font-face {
  font-family: if;
  src: url("./assets/fonts/If.ttf");
}

@font-face {
  font-family: ombres;
  src: url("./assets/fonts/Ombres.ttf");
}

@font-face {
  font-family: punk;
  src: url("./assets/fonts/punk.ttf");
}

@font-face {
  font-family: shockwave;
  src: url("./assets/fonts/Shockwave.ttf");
}
