:root {
  --background: #dbe0e5;
  --powder-blue: #84a4c5;
  --sage-green: #749a83;
  --dark-blue: #2b608e;
  --font: #2b608e;
  --link: #749a83;
  --visited: #749a83;
  --button: #749a83;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  opacity: 1;
  background-color: var(--background);
}

body {
  color: var(--font);
  text-align: center;
  font-family: bryant;
  background-color: var(--background);
  font-size: 28px;
  /* background: url("https://t4.ftcdn.net/jpg/00/70/36/51/360_F_70365188_TnkU0lsl9BXgC5GBv4ALpXyKo9mVgJJ0.jpg"); */
  box-sizing: border-box;
}

p {
  /* font-size: 2em; */
  /* font-family: ombres; */
  /* color: hotpink; */
  max-width: 600px;
  margin: 0 auto;
}

p#date {
  font-family: buckwheat-rough;
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  p#date,
  p#address {
    font-family: buckwheat-rough;
    font-size: 1.5em;
  }
}

.main {
  margin: 0 auto;
  /* max-width: 768px; */
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

a {
  color: var(--link);
}
a:visited {
  color: var(--visited);
}

.peace-background {
  background: url("./assets/images/waterfall-peace.jpg") no-repeat fixed;
  /* height: 100%; */
  overflow: hidden;
  color: #ffffff;
  position: absolute;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100%; */
}

/* .home {
  background-color: black;
} */

.home > img {
  width: 100%;
}

main {
  text-align: center;
  padding-bottom: 6em;
  /* padding: 3em; */
  /* border: solid white 1px; */
  /* width: 1000px; */
}
.name {
  color: var(--font);
  font-family: buckwheat-rough;
  font-size: 5em;
  /* border-bottom: 2px dotted var(--font); */
}

.kirsten-and-nicky-header {
  padding-top: 1em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .kirsten-and-nicky-header {
    /* padding-top: 0em; */
  }
  .name {
    font-size: 3em;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4em;
  border-bottom: 2px dotted var(--font);
}

#password {
  padding-top: 0.25em;
}
.navbar a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar a:not(:first-child) {
  border-left: 2px dotted var(--font);
}

img.save-the-date {
  width: 100%;
  object-fit: contain;
}

label {
  display: block;
  margin-top: 1em;
  font-size: 1.3em;
  text-align: left;
}

form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

label,
input,
textarea,
select,
button {
  font-family: bryant;
  /* font-size: 1.2em; */
  /* line-height: 1.2em; */
}

.thanks-but-no-thanks {
  max-width: 400px;
  margin: 2em auto;
  background: var(--font);
  color: var(--background);
  padding: 0.5em 2em;
  border-radius: 1em;
}

button,
.button,
input[type="submit"] {
  background-color: var(--background);
  border: solid var(--font) 2px;
  /* color: white; */
  /* background-color:  */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-radius: 12px;
  cursor: pointer;
}

.button.small {
  font-size: 1em;
  background-color: var(--font);
  color: white;
  max-width: 200px;
}

input,
textarea {
  padding: 0.4rem;
  width: 100%;
  border: 1px solid;
}

input::placeholder {
  font-size: 0.8em;
}

.form-user h1 {
  font-size: 1.5em;
  color: var(--font);
}

.explainer {
  padding-top: 1em;
  margin: 0 auto;
  max-width: 400px;
}

@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

/* @font-face {
  font-family: grenadierNF;
  src: url("./assets/fonts/GrenadierNF.ttf");
}

@font-face {
  font-family: if;
  src: url("./assets/fonts/If.ttf");
}

@font-face {
  font-family: ombres;
  src: url("./assets/fonts/Ombres.ttf");
}

@font-face {
  font-family: punk;
  src: url("./assets/fonts/punk.ttf");
}

@font-face {
  font-family: shockwave;
  src: url("./assets/fonts/Shockwave.ttf");
} */

@font-face {
  font-family: buckwheat-rough;
  src: url("./assets/fonts/Buckwheat\ TC\ Rough.otf");
}

@font-face {
  font-family: buckwheat;
  src: url("./assets/fonts/Buckwheat\ TC\ Rg.otf");
}

@font-face {
  font-family: bryant;
  src: url("./assets/fonts/Bryant-Medium.otf");
}

@font-face {
  font-family: gotham;
  src: url("./assets/fonts/Gotham-Medium.otf");
}
